.full-bg {
  display: flex;
  width: 100%;
  color: #fff;
  background-color: #343A40;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
   /* padding: 5px 0; */
}
.full-bg a{
  display: inline-block;
  width: 40%;
}
.full-bg button{
  background: inherit;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
  color: #fff;
}

a,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;  
  }
.title-text {
  flex-grow: 1;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  
}
/* 왼쪽 아이콘 영역 */
.full-bg .left {
  width: 30%;
  text-align: center;
  visibility: visible; /* 없어질 때만 invisible 적용 */
}

/* 오른쪽 버튼들 */
.full-bg .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #212529;
}
