.full-bg {
  width: 100%;
  color: #fff;
  background-color: #343A40;
  padding: 5px 0;
}
.main-bg{
  
  background: #212529;
}
.content{
  max-width: 1200px;
  margin: 0 auto;
}
a,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}
.title-text {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}
