.full-bg {
  width: 100%;
  color: #fff;
  background-color: #343A40;
  /* padding: 5px 0; */
}
h1 {
  font-size: 2rem;
  color: #fff;
}

a,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}
.title-text {
  margin: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #212529;
}
